

.logo {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

/* nav */
nav ul{
  list-style-type: none;
  padding-left:0;
  font-family: 'linotype-sabon', serif;
  text-decoration: none;
  display:flex;
  justify-content:space-around;
  font-size:1.5em;
}

nav ul a{
    color:rgb(86, 51, 44);
    text-decoration: none;
}

nav ul a:hover{
    color: rgb(213, 191, 157);
}

.active{
  font-weight:700;
}

/*global styles*/

body {
  max-width: 1000px;
  padding: 1em;
  margin: auto;
}

p{
font-family: 'omnes-pro', sans-serif;
font-weight: 400;
color:rgb(101, 112, 131);
max-width:80%;
font-size:1.2em;
margin:auto;
padding-bottom: 3em;
}

h1{
  font-family: 'linotype-sabon', serif;
  color:rgb(86, 51, 44);
  font-weight: 400;
}

img{
  max-width:100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

address{
  font-family: 'omnes-pro', sans-serif;
  color:rgb(86, 51, 44);
  font-weight: 400;
  font-style:normal;
}

/* footer */

footer{
  background-color:rgba(211, 209, 193, .2);
  text-align: center;
  font-size:.8em;
  padding:3em;
}

@media screen and (min-width:975px){
  footer{
    display:flex;
  }}

footer p{
  color:rgb(86, 51, 44);
  padding-bottom: 1em;
}

.place h3{
  font-family: 'linotype-sabon', serif;
  font-weight: 400;
  color:rgb(86, 51, 44);
}

/*home page*/
.indoor{
  display:block;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 3em;
}
.home {
  padding-top: 1em;
}

@media screen and (min-width:975px){
  .kent{
    display:flex;
    /*flex the locations*/
  }
}
  /*flex the video*/
.steam{
  display:flex;
  padding-left: 3em;
}

.opp{
  padding-left: 3em;
}
.kent{
  display:block;
  background-color:rgba(211, 209, 193, .3);
  padding:3em;
  margin-top: -3em;
}
.columbus{
  display:block;
  background-color:rgba(211, 209, 193, .6);
  padding:3em;
}

h1.hours{
  color:rgb(101, 112, 131);
}

p.hoo{
  max-width:100%;
}

.loc{
  font-weight: 400;
  font-style: italic;
}

.time{
  font-weight: 600;
}
.steam video{
  display:flex; /* view video next to hours*/
}


/*about*/

video{
  max-width:100%;
  margin-bottom: 3em;
  margin-top: 2em;
}

.awards{
  background-color:rgb(101, 112, 131);
  padding:2em;
  margin-top: -3em;
}

.center{
  max-width:60%;
  margin: auto;
}


.awards h1{
  color:white;
}

.awards ul{
  color:white;
  font-family: 'omnes-pro', sans-serif;
}

/*roasting*/

.beans{
  max-width: 80%;
  margin:auto;
  display:block;
  margin-bottom: 2em;
}

.smaller h1{
font-size: 2em;
}

.smaller{
  padding-left: 6em;
  padding-right:6em;
}

.smaller p{
  color:rgb(86, 51, 44);
  font-weight:400;
  max-width:100%;
}

.art{
  background-color: rgb(213, 191, 157);
  color:white;
  padding:1.5em;
  padding-left: 6em;
  padding-right:6em;
}
.art h1{
  color:white;
  font-size: 2em;
}

.art h2{
  font-weight:500;
  font-family: 'omnes-pro', sans-serif;
  font-style: italic;
  font-size:1em;
}

.art ol{
  font-family: 'omnes-pro', sans-serif;
  margin-left: -1em;
}

/*menu*/

@media screen and (min-width:600px){

.coffeeimages{
  display:flex;
  align-items:flex-start;
}

.coffeeimages img{
  max-width: 100%;
  width:33%;
}}

.coffee{
  max-width: 100%;
  padding-bottom: 1em;
  font-size: 1em;
}
.menulist li{
  list-style-type: none;
  margin-left: -2.5em;
  font-family: 'omnes-pro', sans-serif;
  color:rgb(101, 112, 131);
  font-weight:600;
}

.top{
  padding-left:0;
  display:flex;
  justify-content:space-around;
  font-family: 'linotype-sabon', serif;
  list-style-type: none;
}

.price{
  font-weight:400;
}

.menu li a{
    text-decoration: none;
    color:rgb(101, 112, 131);
}

.menu li a:hover{
  border-bottom: 2px solid rgb(101, 112, 131);

}
h4{
  font-family: 'linotype-sabon', serif;
  font-weight: 400;
  color:rgb(101, 112, 131);
  font-size: 2em;
}
